@model IEnumerable<BaiTapThucHanhWeek4.Models.TUser>

@{
    ViewData["Title"] = "DanhSachNguoiDung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>DanhSachNguoiDung</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loaiuser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>

             @*  <td>
                  <a asp-action="Edit" asp-route-id="@item.Username">Edit</a> |
                  <a asp-action="Details" asp-route-id="@item.Username">Details</a> |
                  <a asp-action="Delete" asp-route-id="@item.Username">Delete</a>
              </td> *@
        </tr>
}
    </tbody>
</table>
